* {
}

@font-face {
  font-family: Roboto;
  src: url("../../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../../../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto Bold;
  src: url("../../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto Bold Italic;
  src: url("../../../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto Thin;
  src: url("../../../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: Roboto Thin Italic;
  src: url("../../../../fonts/Roboto-ThinItalic.ttf"), format("truetype");
  font-weight: thin;
  font-style: italic;
}

@font-face {
  font-family: Roboto Light;
  src: url("../../../../fonts/Roboto-Light.ttf"), format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: Roboto Light Italic;
  src: url("../../../../fonts/Roboto-LightItalic.ttf"), format("truetype");
  font-weight: light;
  font-style: italic;
}

body {
	background-color: black;
	background-image: url("windows10/background/oobe.adapted.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	letter-spacing: -0.8px;
	overflow: hidden;
}

.inftext {
	font-family: Roboto Bold;
	letter-spacing: -0.8px;
	font-size: 16px;
}

.text {
	font-family: Roboto;
	letter-spacing: -0.8px;
	font-size: 16px;
}


.button {
	font-family: Roboto Medium;
	letter-spacing: -0.8px;
	font-size: 16px;
	border-radius: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: rgba(255, 255, 255, 1);
	border: 0px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.27);
	transform-origin: left bottom;
	outline: 0px;
}

@keyframes hover {
	from{box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);}
	to{box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);}
}

.button:hover {
	animation: hover 0.25s;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

@keyframes active {
	from{box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);}
	to{box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);}
}

.button:active {
	animation: active 0.25s;
	animation-fill-mode: forwards;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.);
}

.textinput {
	position: absolute;
	outline: none;
	cursor: url("../../../cursors/text.png"), text;
	font-family: Roboto Medium;
	font-size: 16px;
	letter-spacing: -0.8px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
	padding-left: 10px;
	height: 32px;
	border-radius: 5px;
	border: 0px;
}

.find-input-field {
	position: absolute;
	outline: none;
	font-family: Segoe UI Semibold;
	font-size: 16px;
	letter-spacing: -0.8px;
	background-color: rgba(255, 255, 255, 0);
	padding-left: 12px;
	margin-top: -2px;
	top: 2px;
	left: 78px;
	height: 34px;
	width: 304px;
	z-index: 9;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 0px;
}

.find-input-field:hover {
	position: absolute;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0);
	border: 0px;
}

.find-input-field:focus {
	position: absolute;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0);
	border: 0px;
}


#find-input-plataform {
	position: absolute;
	font-size: 16px;
	letter-spacing: -0.8px;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	top: 2px;
	left: 48px;
	height: 36px;
	width: 346px;
	z-index: 9;
	border-radius: 4px;
	border: 0px;
}

#find-input-plataform:hover {
	position: absolute;
	font-size: 16px;
	letter-spacing: -0.8px;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	top: 2px;
	left: 48px;
	height: 36px;
	width: 346px;
	z-index: 9;
	border-radius: 4px;
	border: 0px;
}

#find-input-plataform:focus {
	position: absolute;
	font-size: 16px;
	letter-spacing: -0.8px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	top: 2px;
	left: 48px;
	height: 36px;
	width: 346px;
	z-index: 9;
	border-radius: 4px;
	border: 0px;
}

#find-input-plataform-icon {
	position: absolute;
	left: 10px;
	top: 8px;
	height: 22px;
	width: 22px;
	background-image: url("windows10/icons/imageres/taskbar_findbutton_icon.png");
	background-size: 22px 22px;
	-webkit-filter: brightness(0);
    filter: brightness(0);
}

.find-input-container {
	display: flex;
	width: 14%;
	height: 28px;
}

.header {
	font-family: Segoe UI Semibold;
	font-size: 24px;
	letter-spacing: -0.8px;
}

.taskbar {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .64);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border: 0px;
	width: 100%;
	height: 40px;
	z-index: 4;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.taskbutton {
	position: absolute;
	outline: none;
	top: 0;
	border: 0px;
	background-color: rgba(255, 255, 255, 0);
	width: 48px;
	height: 100%;
}

.taskbutton:hover {
	border: 0px;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.taskbutton:active {
	border: 0px;
	background-color: rgba(255, 255, 255, 0);
}

.blur {
	backdrop-filter: blur(8px);
}

#menu {
	background-image: url("windows10/icons/imageres/winlogo16.png");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center;
	-webkit-filter: brightness(0);
    filter: brightness(0);
	outline: none;
	z-index: 5;
	left: 0px;
}

#settings {



	background-position: center;
	-webkit-filter: brightness(0);
    filter: brightness(0);
	outline: none;
	z-index: 0;
	left: -90px;
}

#notifications {
	background-image: url("windows10/icons/imageres/not16.png");
	background-repeat: no-repeat;
	background-size: 17px 18px;
	background-position: center;
	-webkit-filter: brightness(0);
    filter: brightness(0);
	outline: none;
	z-index: 7;
	right: 8px;
}

.menu {
	position: absolute;
	animation: slidedown 0.35s;
	transition-timing-function: ease-out;
	display: none;
	bottom: 44px;
	left: 4px;
	background-color: rgba(255, 255, 255, .64);
	padding: 6px;
	border: 0px;
	border-radius: 4px;
	z-index: 3;
	width: 180px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

@keyframes slidedown{
	from {bottom: -34px; opacity: 0.5;}
	to {botom: 44px; opacity: 1;}
}

.menubutton {
	position: relative;
	font-family: Segoe UI Semibold;
	font-size: 15px;
	border-radius: 4px;
	padding-left: 10px;
	padding-bottom: 2px;
	text-align: left;
	border: 0px;
	outline: none;
	background-color: rgba(255, 255, 255, 0);
	height: 35px;
	width: 100%;
}

.menubutton:hover {
	position: relative;
	border: 0px;
	background-color: rgba(255, 255, 255, 0.15);
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}

.menubutton:active {
	position: relative;
	border: 0px;
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
}

.userpicture {
	position: absolute;
	height: 30px;
	width: 30px;
	background-image: url("../../../../userdata/default/Data/picture.jpg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center;
	border-radius: 1000px;
	border: 2px solid black;
}

.settingsmenu {
	position: absolute;
	display: none;
	animation: slidedown 0.35s;
	top: 44px;
	left: 48px;
	background-color: rgba(255, 255, 255, .64);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border: 0px;
	border-radius: 8px;
	width: 180px;
	z-index: 3;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.settingsmenu-header {
	position: static;
	font-size: 16px;
	text-align: center;
	background-color: rgba(0, 0, 0, .05);
	padding: 8px 0;
	
}

.notificationsmenu {
	position: absolute;
	display: none;
	animation: slidedown 0.35s;
	transition-timing-function: ease-out;
	padding: 6px;
	bottom: 44px;
	right: 8px;
	background-color: rgba(255, 255, 255, .64);
	border: 0px;
	border-radius: 4px;
	width: 300px;
	z-index: 3;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.notmenu-header {
	font-size: 16px;
	width: 288px;
	position: static;
	border-bottom: 1px solid rgba(0, 0, 0, .0);
	background-color: rgba(255, 255, 255, .2);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 8px 0;
	margin-bottom: 8px;
	text-align: left;
	padding-left: 12px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.0);
	z-index: 1;
}

.notificationsmenu-space {
	font-size: 16px;
	width: 100%;
	background-color: rgba(0, 0, 0, .0);
	position: static;
	padding: 18px 0;
	text-align: center;
	padding-left: 0px;
	
}

.notification {
	position: relative;
	font-family: Segoe UI Semibold;
	font-size: 15px;
	outline: none;
	padding-top: 26px;
	padding-left: 10px;
	text-align: center;
	border: 0px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.15);
	margin-bottom: 8px;
	width: 100%;
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
}

.notification:hover {
	font-size: 15px;
	padding-left: 10px;
	text-align: center;
	border: 0px;
	background-color: rgba(215, 215, 215, 0.25);
	margin-bottom: 8px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.notification:active {
	font-size: 15px;
	padding-left: 10px;
	text-align: center;
	border: 0px;
	background-color: rgba(160, 160, 160, 0.25);
	margin-bottom: 8px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.notificationbutton {
	position: relative;
	font-family: Segoe UI Semibold;
	font-size: 15px;
	border-radius: 4px;
	padding-left: 10px;
	padding-bottom: 2px;
	text-align: left;
	border: 0px;
	outline: none;
	background-color: rgba(255, 255, 255, 0);
	height: 35px;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

.notificationbutton:hover {
	border: 0px;
	background-color: rgba(255, 255, 255, 0.15);
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}

.notificationbutton:active {
	border: 0px;
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
}

.notification-header {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 16px;
	width: 100%;
	background-color: rgba(255, 255, 255, .15);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 4px 0;
	text-align: left;
	padding-left: 8px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.0);
	z-index: 1;
}

.notification-content {
	position: static;
	font-family: Segoe UI;
	letter-spacing: -0.5px;
	font-size: 16px;
	text-align: left;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, .0);
	padding: 4px 0;
	text-align: left;
	padding-left: 0px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.0);
	z-index: 1;
}

#ClearNOTI {
	bottom: 2px;
}

.findmenu {
	position: absolute;
	display: none;
	animation: slidedown 0.35s ease-out;
	bottom: 40px;
	left: 48px;
	background-color: rgba(255, 255, 255, .64);
	border: 0px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	width: 346px;
	z-index: 3;
	padding: 6px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.findmenu-header {
	font-size: 16px;
	width: 334px;
	position: static;
	border-bottom: 1px solid rgba(0, 0, 0, .0);
	background-color: rgba(255, 255, 255, .20);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 8px 0;
	margin-bottom: 8px;
	text-align: left;
	padding-left: 12px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.0);
	z-index: 1;
}

.findmenubutton {
	position: relative;
	font-family: Roboto Medium;
	font-size: 15px;
	outline: none;
	padding-top: 26px;
	padding-left: 10px;
	text-align: center;
	border: 0px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.25);
	margin-bottom: 8px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.clockplataform {
	position: absolute;
	width: 172px;
	text-align: center;
	right: 48px;
}

.clock {
	padding-top: 8.3px;
	text-align: center;
	font-family: Segoe UI;
	font-weight: bold;
	font-size: 16px;
}

.desktop-icon {
	position: relative;
	display: none;
	top: 40px;
	left: 4px;
	height: 80px;
	width: 85px;
	z-index: -12;
}

.desktop-icon-picture {
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 45px;
}

@keyframes window-open-animation {
	from{perspective: 250px; transform: scale(0.9) rotateX(15deg); opacity: 0.6;}
	to{perspective: 250px; transform: scale(1) rotateX(0deg) rotateY(0deg); opacity: 1;}
}

.window {
	position: absolute;
	transform-style: preserve-3d;
	perspective: 250px;
	animation: window-open-animation 0.5s;
	z-index: 0;
	background-color: rgba(255, 255, 255, .64);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border: 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
	resize: both;
	overflow: auto;
}

.window-header {
	position: relative;
	z-index: 1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 32px;
}

.window-header-close {
	position: absolute;
	z-index: 1;
	border: 0px;
	border-top-right-radius: 3px;
	box-shadow: 0px 3px 6px rgba(255, 0, 0, 0);
	outline: none;
	top: 0px;
	right: 0px;
	background-image: url("windows10/icons/imageres/close.png");
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-color: rgba(255, 0, 0, 0);
	background-position: center;
	-webkit-filter: brightness(0);
    filter: brightness(0);
	width: 38px;
	height: 32px;
}

.window-header-close:hover {
	-webkit-filter: brightness(1);
    filter: brightness(1);
	background-color: rgba(223, 0, 75, 1);
	box-shadow: 0px 0px 16px rgba(223, 0, 75, 0.4);
}

.window-header-close:active {
	-webkit-filter: brightness(1);
    filter: brightness(1);
	background-color: rgba(203, 0, 55, 1);
	box-shadow: 0px 0px 12px rgba(203, 0, 55, 0.8);
}

.window-header-maximize {
	position: absolute;
	z-index: 1;
	border: 0px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.0);
	outline: none;
	top: 0px;
	right: 38px;
	background-image: url("windows10/icons/imageres/max.png");
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-color: rgba(0, 0, 0, 0);
	background-position: center;
	-webkit-filter: brightness(0);
    filter: brightness(0);
	width: 38px;
	height: 32px;
}

.window-header-maximize:hover {
	-webkit-filter: brightness(0.15);
    filter: brightness(0.15);
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.window-header-maximize:active {
	-webkit-filter: brightness(0.15);
    filter: brightness(0.15);
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.window-header-minimize {
	position: absolute;
	z-index: 1;
	border: 0px;
	border-radius: 0px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
	outline: none;
	top: 0px;
	right: 76px;
	background-image: url("windows10/icons/imageres/min.png");
	background-repeat: no-repeat;
	background-size: 12px 1px;
	background-color: rgba(0, 0, 0, 0);
	background-position: center;
	-webkit-filter: brightness(0);
    filter: brightness(0);
	width: 38px;
	height: 32px;
}

.window-header-minimize:hover {
	-webkit-filter: brightness(0.15);
    filter: brightness(0.15);
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
}

.window-header-minimize:active {
	-webkit-filter: brightness(0.15);
    filter: brightness(0.15);
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.window-header-title {
	position: relative;
	top: 5px;
	font-family: Segoe UI Semibold;
	font-size: 16px;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	text-align: left;
	padding-left: 12px;
	margin: auto;
}

.default-window-content {
	position: relative;
	z-index: 1;
	border: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	outline: none;
	top: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: calc(100% - 32px);
}